{%extends 'base.html' %}
{%block title%}Detalle{% endblock %}

{% block menu %}
<section class="hero is-success is-small">
    <div class="hero-body">
        <p class="title">City of {{country.descripcion}}</p>
        <a class="button" href="{% url 'country:city_index' country.id %}">🔙 Back</a>
    </div>
</section>
{% endblock %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="box">

            <h1 class="title">Detail</h1>
            <div class="block">
                Código: {{city.codigo}}
            </div>
            <div class="block">
                {{city.descripcion}}
            </div>
            <div class="block">
                {%if city.is_active %}Activo{%else%}Inactivo{%endif%}
            </div>

            <div class="buttons">
                <button class="button is-danger" id="delete">❌ Delete</button>
            </div>

            
            <script>
                document.getElementById('delete').addEventListener('click', function () {
                    fetch("{% url 'country:city_delete' country.id city.id %}", {
                        method: 'DELETE',
                        headers: {
                            'X-CSRFToken': '{{csrf_token}}'
                        }
                    }).then(function (response) {
                        if (response.ok) {
                            window.location.href = "{% url 'country:city_index' country.id %}";
                        }
                    });
                });
            </script>
        </div>
    </div>
</section>
{% endblock %}